<br>
<br>
<!-- <h1>Employee List</h1> -->

<div class="container">

  <div >
    <form (ngSubmit)="goToUser()" >
      <div class="form-group row">
        <div class="col-md-6">
          <input [(ngModel)]="EnteredID" type="text" class="form-control" id="id" name="id" placeholder="Search by ID">
        </div>
        <div class="col-md-6">
          <button class="btn btn-info" type="submit">Search</button>
        </div>
      </div>

    </form>

  </div>
  <br>
  <br>
  <div>
    <table   class="table align-middle mb-0 bg-white">

      <thead class="table-primary">
      <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role</th>

        <th>IsActivate</th>
        <th>Actions</th>
      </tr>

      </thead>


      <tbody>
      <tr *ngFor = "let user of users">
        <td>{{user.id}}</td>
        <td>{{user.fname}}</td>
        <td>{{user.email}}</td>
        <td>{{ user.role.nomRole}}</td>
        <td>{{user.active}}</td>
        <td>
          <button (click) = "updateUser(user.id)" class = "btn  btn-secondary btn-sm"> Update</button>
          <button (click) = "deleteUser(user.id)" class = "btn btn-danger btn-sm" style="margin-left: 10px"> Delete</button>
          <button (click) = "detailsOfUser(user.id)" class = "btn btn-success btn-sm " style="margin-left: 10px"> View</button>
        </td>
      </tr>
      </tbody>


    </table>
    <br><br><br><br>
  </div>
</div>

