
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/dashboard">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="15"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="dashboard" routerLinkActive="active" class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="list-user" routerLinkActive="active" class="nav-link" href="#">List Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="add-user" routerLinkActive="active" class="nav-link" href="#">Add User</a>
        </li>
        <li class="nav-item">
          <a routerLink="profile" routerLinkActive="active" class="nav-link" href="#">Profile</a>
        </li>

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
    <div class="d-flex align-items-center"  >

      <button routerLink="login" routerLinkActive="active" data-mdb-ripple-init type="button" class="btn btn-light px-3 me-2">
        Login
      </button>
      <button routerLink="register" routerLinkActive="active" data-mdb-ripple-init type="button" class="btn btn-primary me-3">
        Sign up for free
      </button>
      <button class="btn btn-light"  >
        <a (click)="logout()" routerLinkActive="active" class="nav-link" href="login">Logout</a>
     <!--   <svg  routerLink="login" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
      </svg>-->
      </button>

    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
  <!-- Sidebar-->

<router-outlet></router-outlet>
