
<br>

<div class="container">

  <h3>Employee Details</h3>
  <br>
  <div class="box">

    <div>

     <!-- <img src="../assets/download.jpg">-->
    </div>
    <div >
      <table  class="table align-middle mb-0 bg-white">
        <thead class="table-info">
        <tr>
          <th  >Attribute</th>
          <th  >Value</th>
        </tr>

        </thead>

        <tbody>

        <tr>
          <td><b>First Name</b></td>
          <td>{{user.fname}}</td>
        </tr>

        <tr>
          <td><b>Email</b></td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td><b>Role</b></td>
          <td>{{user.role.nomRole}}</td>
        </tr>
        <tr>
          <td><b>Role description</b></td>
          <td>{{user.role.descriptionRole}}</td>
        </tr>


        </tbody>
      </table>

      <a routerLink="/updating-by-id/{{user.id}}" id="btn1"class="btn btn-secondary">Update Details</a>
      <a routerLink="/list-user" id="btn2" class="btn btn-danger">Back</a>
    </div>

  </div>

</div>

